<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <ul class="footer-list">
          <li>You need help</li>
        </ul>
        <ul class="footer-sublist">
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Website Issues</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Security</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 hidden-xs">
        <ul class="footer-list">
          <li>About Dog's Creed</li>
        </ul>
        <ul class="footer-sublist">
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Discord</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <ul class="footer-list">
          <li>Contact Us</li>
        </ul>
        <ul class="footer-sublist">
          <li>Address: Panama City</li>
          <li>Phone: 6664-4558</li>
          <li>Email: <a href="#">Dogs@dogscreed.com</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="copyright">
          Dog's Creed • COPYRIGHT ® 2016 • TODOS LOS DERECHOS RESERVADOS
        </p>
      </div>
    </div>
  </div>
</div>
