<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/css?family=Sansita:400,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bahiana|Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href="/bower_components/animate.css/animate.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body onload="myFunction()">
    <div class="loader" id="contenedor">
      <div class="loading" id="loading"></div>
    </div>
      {{> site/header}}
        <div class="" style="display:none;" id="body">
            {{{body}}}
          {{> site/footer}}
        </div>

    <!--Jquery CDN Google Snippet -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Custom Script -->
    <script src="/javascripts/custom.js" charset="utf-8"></script>
    <script type="text/javascript">
    function myFunction() {
      myVar = setTimeout(showPage, 500);
  }

  function showPage() {
    document.getElementById("loading").style.display = "none";
    document.getElementById("body").style.display = "block";
  }
    </script>
    <script type="text/javascript">
    $('.carousel').carousel({
    interval: 10000
    })
    </script>
  </body>
</html>
