<div class="back_Workers">

</div>
<div class="Team_Workers">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-7">
        <div class="card">
          <div class="thumbnail post_img">
            <img src="/images/background/post.jpg" class="bg_img img-responsive" style="width: 100%;" alt="...">
            <div class="post_title">
              <h2>Bienvenido a nuestra Comunidad</h2>
            </div>
            <div class="caption">
              <div class="box" id="box">
                <p id="post_box" class="post_box">
                  Te doy la bienvenida a nuestra comunidad, es un proyecto en el que se piensa compartir ideas,
                  ayuda, motivacion y entre otros. Se parte de esta grandiosa comunidad donde juntos creceremos
                  para tener mas conocimientos en cumplir nuestros retos y hacer nuestros suenios realidad.
                  Es la primera vez que desarrollo una pagina social, mi espectativa es que todos nos ayudemos como sociedad
                  para desarrollo o contribuir a los futuros proyectos o temas.
                </p>
              </div>
              <button type="button" class="btn btn-info btn-sm">Seguir Leyendo</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="thumbnail post_img">
            <img src="/images/selfies/admin.jpg" class="img-responsive" style="width: 100%;" alt="...">
            <div class="caption">
              <h4>Usuario: Admin</h4>
              <button type="button" class="btn btn-primary btn-xs">Calificar <span class="badge">42</span></button>
              <a href="#" style="text-decoration: none;">
                <span class="badge">Admin <span class="glyphicon glyphicon-remove"></span></span>
                <span class="badge">CEO <span class="glyphicon glyphicon-remove"></span></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- post info -->
    <div class="row">
        {{> team_workers/post_info}}
    </div>
  </div>
</div>
