<div class="col-md-offset-1 col-md-10">
  <div class="">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <img src="/images/background/post.jpg" class="bg_img img-responsive" style="width: 100%;" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <div class="box2">
              <p id="post_box" class="post_box">
                                Te doy la bienvenida a nuestra comunidad, es un proyecto en el que se piensa compartir ideas,
                                ayuda, motivacion y entre otros. Se parte de esta grandiosa comunidad donde juntos creceremos
                                para tener mas conocimientos en cumplir nuestros retos y hacer nuestros suenios realidad.
                                Es la primera vez que desarrollo una pagina social, mi espectativa es que todos nos ayudemos como sociedad
                                para desarrollo o contribuir a los futuros proyectos o temas.
              </p>
            </div>
            <button type="button" class="btn btn-info btn-sm">Seguir Leyendo</button>
          </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
          <img src="/images/background/post.jpg" class="bg_img img-responsive" style="width: 100%;" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <div class="box2">
            <p id="post_box" class="post_box">
                              Te doy la bienvenida a nuestra comunidad, es un proyecto en el que se piensa compartir ideas,
                              ayuda, motivacion y entre otros. Se parte de esta grandiosa comunidad donde juntos creceremos
                              para tener mas conocimientos en cumplir nuestros retos y hacer nuestros suenios realidad.
                              Es la primera vez que desarrollo una pagina social, mi espectativa es que todos nos ayudemos como sociedad
                              para desarrollo o contribuir a los futuros proyectos o temas.
            </p>
          </div>
          <button type="button" class="btn btn-info btn-sm">Seguir Leyendo</button>
        </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
        <img src="/images/background/post.jpg" class="bg_img img-responsive" style="width: 100%;" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <div class="box2">
          <p id="post_box" class="post_box">
                            Te doy la bienvenida a nuestra comunidad, es un proyecto en el que se piensa compartir ideas,
                            ayuda, motivacion y entre otros. Se parte de esta grandiosa comunidad donde juntos creceremos
                            para tener mas conocimientos en cumplir nuestros retos y hacer nuestros suenios realidad.
                            Es la primera vez que desarrollo una pagina social, mi espectativa es que todos nos ayudemos como sociedad
                            para desarrollo o contribuir a los futuros proyectos o temas.
          </p>
        </div>
        <button type="button" class="btn btn-info btn-sm">Seguir Leyendo</button>
      </div>
  </div>
</div>
<div class="col-sm-6 col-md-6">
  <div class="thumbnail">
      <img src="/images/background/post.jpg" class="bg_img img-responsive" style="width: 100%;" alt="...">
    <div class="caption">
      <h3>Thumbnail label</h3>
      <div class="box2">
        <p id="post_box" class="post_box">
                          Te doy la bienvenida a nuestra comunidad, es un proyecto en el que se piensa compartir ideas,
                          ayuda, motivacion y entre otros. Se parte de esta grandiosa comunidad donde juntos creceremos
                          para tener mas conocimientos en cumplir nuestros retos y hacer nuestros suenios realidad.
                          Es la primera vez que desarrollo una pagina social, mi espectativa es que todos nos ayudemos como sociedad
                          para desarrollo o contribuir a los futuros proyectos o temas.
        </p>
      </div>
      <button type="button" class="btn btn-info btn-sm">Seguir Leyendo</button>
    </div>
</div>
</div>
  </div>
</div>
