<div class="imgtop" id="imgtop">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="bodyimgtop">
          <h2 class="animated zoomIn">Investiga - Crea - Desarrolla</h2>
          <div class="bodyboton">
            <a href="#seccion1"><span class="glyphicon glyphicon-menu-down animated infinite bounce"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-body" id="seccion1">
  <div class="container" >
    <div class="row">
      <div class="col-md-offset-1 col-md-6 col-sm-9 col-xs-12">
        <div class="blowideas">
          <h3>Manten tu pensamiento</h3>
          <p class="parraf-main">
            Este es la base para llegar a la meta ideal, mantener la idea es llevar consigo siempre en la mente a lo que uno debe llegar,
            muchas veces habran cambios como pequeños o grandes en los que uno debera moldar a las ideas y muchos de estos cambios ayudan ampliar más el pensamiento en el desarrollo de la idea principal.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 hidden-xs" class="blowimages">
        <img id="img-animated1" src="/images/icon/1.png" alt="..." style="width:90%" class="img-circle">
      </div>
    </div>
    <!--Seccion2 -->

    <div class="row">
      <div class="col-md-offset-1 col-md-3 col-sm-3 hidden-xs" class="blowimages">
        <img id="img-animated1" src="/images/icon/2.png" alt="..." style="width:90%; padding-top:70px;" class="img-circle">
      </div>
      <div class="col-md-offset-1 col-md-6 col-sm-9 col-xs-12">
        <div class="blowideas2">
          <h3>El Camino del Desarrollo</h3>
          <p class="parraf-main">
            El motivo de que le he llamado camino es por el motivo de que existen y existiran varias forma de desarrollar una idea,
            como la manera mas facil de llegar a la meta y otras que van hacer un poco mas costosas en sentido de busqueda y conocimiento que se obtiene durante el desarrollo, pero la
            mas recomendable y la mas segura es la mas larga ya que te enriqueces mucho del conocimiento aprendido.
          </p>
        </div>
      </div>
    </div>
    <!--Seccion3 -->
    <div class="row">
      <div class="col-md-offset-1 col-md-6 col-sm-9 col-xs-12">
        <div class="blowideas">
          <h3>La Investigacion del mercado</h3>
          <p class="parraf-main">
            Como opinion personal, este tipo de investigacion es mas que ver como se mueve el mercado en si con respecto al desarrollo de tu proyecto, tendras que investigar la visiones de las empresas para poder hacer
            una competencia y ver la manera de sacar el 100% de beneficio cuando se realiza el lanzamiento del proyecto a produccion.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 hidden-xs" class="blowimages">
        <img id="img-animated1" src="/images/icon/4.png" alt="..." style="width:85%; padding-top:70px;" class="img-circle">
      </div>
    </div>
  </div>
</div>
