<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="page-header">
        <h2 class="p_title">Bienvenido a Nuestro Portafolio</h2>
        <h4 class="p_title"><i>Dog's Creed</i></h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="">
        <a href="http://www.flavaurbana.com" target="_blank"><h3><span class="glyphicon glyphicon-bookmark"></span>  Flava Urbana</h3></a>
        <p class="p_Proyectos">
          Este proyecto es muy interesante ya que con lleva muchas funciones en la que se realizaron diferentes metodos para
          poder realizarla, ya que el nivel de los recursos para poder montar la creacion de esta esta pagina era muy inestable, entonces
          pude realizar diferentes cambios para hacerla funcionar, empezo mas que nada este proyecto para hacer una prueba y tener la expericiena de
          sacar un producto a produccion, ya sea de una pequeña escala el proyecto pero era todo para tener esa experiencia.
        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <h4>Informacion del proyecto</h4>
      <h5 class="p_Proyectos"><b>Servicios:</b></h5>
      <ul class="p_Proyectos" style="">
        <li>Diseño</li>
        <li>Desarrollo</li>
        <li>Soporte</li>
        <li>Entrenamiento</li>
      </ul>
  <!-- Wrapper for slides -->
  <d  iv class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/images/projects/flavaurbana.jpg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

    </div>
  </div>
  </div>
