<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1 class="title1">Profile Set Up <span class="glyphicon glyphicon-user"></span></h1>
            <ul class="form_profile">
              <li>Email: <a href="#">{{user.email}}</a></li>
            </ul>
            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                <a href="/admin/new_event" class="btn btn-default">New Event</a>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12">
                <a href="/admin/post/new" class="btn btn-default">Crear Post</a>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12">
                <a href="/admin/post" class="btn btn-default">Ver mis Post</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
