<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h1 class="Dev_title">Desarrollo interno de nuestras Aplicaciones Web</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p class="p_Proyectos">
        El entorno de trabajo para desarrollar nuestras apliaciones son basados en la investigacion previa con el cliente, en si estudiamos los requisitos del cliente y las necesidades para
        crear la base primero que en si en lo personal le llamo "Los Huesos", para poder implementar y elegir los Frameworks para el desarrollo de la aplicacion.
      </p>
    </div>
  </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
        <img src="images/carousel/1.jpg" class="img-responsive" alt="">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="p_Proyectos">
          <b><i>Node.js: </i></b> Desarrollando actualmente los proyectos con un Engine V8 de Google utilizando JavaScript, ya que es <i>Multiplataforma</i> y es <i>Open-Source</i> para el manejo de sus herramientas y aplicaciones.
        </p>
        <p class="p_Proyectos">
          <b><i>{Less}: </i></b> Usamos Less como un pre-compilador de Css (hoja de estilo), de esta manera creamos hojas de estilos dinamicas en las que podemos reutilizarlas, tambien es un <i>Open-Source</i>; Proporciona mecnismo a nuestros proyectos
          como variables, anidacion, funciones y demas, tiene una buena documentacion en las que nos basamos para crear las hojas de estilo.
        </p>
        <p class="p_Proyectos">
          <b><i>Mongodb: </i></b> Nuestra base de datos, es impresionante lo que puede hacer <i>Mongodb</i> ya que tiene una documentacion muy detallada, es de codigo abierto, esta base de datos es famosa por ser <i>NoSQL</i> el esquema es muy similar a JSON y es Gratis.
        </p>
      </div>
    </div> <br>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="images/Dev_icons/1.png" class="img-responsive" style="width:35%;">
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="images/Dev_icons/3.png" class="img-responsive" style="width:40%;">
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <img src="images/Dev_icons/2.png" class="img-responsive" style="width:50%;">
      </div>
    </div>
    <br>
  </div>
