<div class="container">
  <div class="events_body">
    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <form action="/admin/new_event" method="post" class="form-horizontal">
          <div class="form-group">
            <input class="form-control" id="disabledInput" value="{{user.email}}" name="autor" placeholder="{{user.email}}" />
          </div>
          <div class="form-group">
            <h3>Titulo del evento</h3>
            <input type="text" class="form-control" placeholder="Titulo del evento" name="titulo">
          </div>
          <div class="form-group">
            <h3>Tipo de documentacion</h3>
            <select class="form-control" name="img_event">
              <option value="https://cdn0.iconfinder.com/data/icons/HTML5/128/HTML_Logo.png">HTML5</option>
              <option value="http://endeavor.in/sites/default/files/nodejs-logo_0.png">NODE.JS</option>
              <option value="http://static1.squarespace.com/static/513914cde4b0f86e34bbb954/513e41b5e4b03d54a0792254/54d9040be4b0a47608fcd12b/1424284504010/?format=1000w">MONGODB</option>
            </select>
          </div>
          <div class="form-group">
            <h3>Informacion</h3>
            <textarea class="form-control" rows="5" name="informacion" placeholder="Introduzca su historia aqui"></textarea>
          </div>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <button type="submit" class="btn btn-primary">Nuevo evento</button>
        </form>
      </div>
    </div>
  </div>
</div>
